services:
  app:
    build: .
    container_name: avito_service_app
    ports:
      - "8080:8080"
    environment:
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=avito_db
      - DB_SSLMODE=disable
      - LOG_LEVEL=debug
      - HTTP_ADDR=0.0.0.0:8080
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: avito_service_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=avito_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d avito_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:

  postgres_data:
